@model IEnumerable<StudentsAdminEditors.Models.ApplicationUser>

@{
    ViewData["Title"] = "Admin Panel";
}

<h2>Admin Panel</h2>

@if(TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<h2>All Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Status</th>            
            <th>Created</th>
            <th>Logins</th>
            <th>Change Status</th>
            <th>Admin notes</th>
            <th>Save</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.IsActive</td>
                <td>@user.CreatedAt.ToShortDateString()</td>
                <td>@user.LoginCount</td>

                <form asp-controller="ApplicationUsers" asp-action="UpdateStatus" method="post">

                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@user.Id" />

                    <input type="hidden" name="isActive" value="false" />

                <td>
                    <input type="checkbox" name="isActive" value="true" class="form-check-input" id="active_@user.Id" @(user.IsActive ? "checked" : "") />
                    <label for="active_@user.Id">Active</label>
                </td>

                <td>
                    <textarea name="adminNote" class="form-control" rows="2">@user.AdminNote</textarea>
                </td>

                <td>
                    <button type="submit" class="btn btn-success btn-sm mt-2">Save</button>
                </td>

                </form>


            </tr>
        }
    </tbody>
</table>